# Unity .gitignore file.
.DS_Store
Library
Library/*
*.csproj
*.sln
*.userprefs
Temp
*.pidb
Build
*.suo
obj/*
*.unity
*.unity.meta
obj/Debug/*
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.unityproj
